// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/pagination';
@import 'components/notification';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

// Breadcrumbs component - sign out content
.nhsuk-text-right {
    text-align: right;
}

///////////////////////////////////////////
// GOVUK component - Pagination
///////////////////////////////////////////

.nhsuk-pagination {
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media(min-width: 40.0625em) {
    .nhsuk-pagination {
        margin-bottom: 30px
    }
}

@media(min-width: 40.0625em) {
    .nhsuk-pagination {
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -ms-flex-align: start;
        -webkit-box-align: start;
        align-items: flex-start
    }
}

.nhsuk-pagination__list {
    margin: 0;
    padding: 0;
    list-style: none
}

.nhsuk-pagination__item,
.nhsuk-pagination__next,
.nhsuk-pagination__prev {
    font-family: “Frutiger W01”, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    min-width: 45px;
    min-height: 45px;
    padding: 10px 15px;
    float: left
}

@media print {

    .nhsuk-pagination__item,
    .nhsuk-pagination__next,
    .nhsuk-pagination__prev {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {

    .nhsuk-pagination__item,
    .nhsuk-pagination__next,
    .nhsuk-pagination__prev {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {

    .nhsuk-pagination__item,
    .nhsuk-pagination__next,
    .nhsuk-pagination__prev {
        font-size: 14pt;
        line-height: 1.15
    }
}

.nhsuk-pagination__item:hover,
.nhsuk-pagination__next:hover,
.nhsuk-pagination__prev:hover {
    background-color: #f3f2f1
}

.nhsuk-pagination__item {
    display: none;
    text-align: center
}

@media(min-width: 40.0625em) {
    .nhsuk-pagination__item {
        display: block
    }
}

.nhsuk-pagination__prev,
.nhsuk-pagination__next {
    font-weight: 700
}

.nhsuk-pagination__prev .nhsuk-pagination__link,
.nhsuk-pagination__next .nhsuk-pagination__link {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center
}

.nhsuk-pagination__prev {
    padding-left: 0
}

.nhsuk-pagination__next {
    padding-right: 0
}

.nhsuk-pagination__item--current,
.nhsuk-pagination__item--ellipses,
.nhsuk-pagination__item:first-child,
.nhsuk-pagination__item:last-child {
    display: block
}

.nhsuk-pagination__item--current {
    font-weight: 700;
    outline: 1px solid rgba(0, 0, 0, 0);
    background-color: #1d70b8
}

.nhsuk-pagination__item--current:hover {
    background-color: #1d70b8
}

.nhsuk-pagination__item--current .nhsuk-pagination__link:link,
.nhsuk-pagination__item--current .nhsuk-pagination__link:visited {
    color: #fff
}

.nhsuk-pagination__item--current .nhsuk-pagination__link:hover,
.nhsuk-pagination__item--current .nhsuk-pagination__link:active {
    color: rgba(255, 255, 255, .99)
}

.nhsuk-pagination__item--current .nhsuk-pagination__link:focus {
    color: #0b0c0c
}

.nhsuk-pagination__item--ellipses {
    font-weight: 700;
    color: #505a5f
}

.nhsuk-pagination__item--ellipses:hover {
    background-color: rgba(0, 0, 0, 0)
}

.nhsuk-pagination__link {
    display: block;
    min-width: 15px
}

.nhsuk-pagination__link:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.nhsuk-pagination__link:hover .nhsuk-pagination__link-title--decorated,
.nhsuk-pagination__link:active .nhsuk-pagination__link-title--decorated {
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: .1em
}

.nhsuk-pagination__link:hover .nhsuk-pagination__link-label,
.nhsuk-pagination__link:hover .nhsuk-pagination__link-title--decorated,
.nhsuk-pagination__link:active .nhsuk-pagination__link-label,
.nhsuk-pagination__link:active .nhsuk-pagination__link-title--decorated {
    text-decoration-thickness: max(3px, .1875rem, .12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none
}

.nhsuk-pagination__link:focus .nhsuk-pagination__icon {
    color: #0b0c0c
}

.nhsuk-pagination__link:focus .nhsuk-pagination__link-label {
    text-decoration: none
}

.nhsuk-pagination__link:focus .nhsuk-pagination__link-title--decorated {
    text-decoration: none
}

.nhsuk-pagination__link-label {
    font-family: “Frutiger W01”, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    text-decoration: underline;
    text-decoration-thickness: max(1px, .0625rem);
    text-underline-offset: .1em;
    display: inline-block;
    padding-left: 30px
}

@media print {
    .nhsuk-pagination__link-label {
        font-family: sans-serif
    }
}

@media(min-width: 40.0625em) {
    .nhsuk-pagination__link-label {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.3157894737
    }
}

@media print {
    .nhsuk-pagination__link-label {
        font-size: 14pt;
        line-height: 1.15
    }
}

.nhsuk-pagination__icon {
    width: .9375rem;
    height: .8125rem;
    color: #505a5f;
    fill: currentcolor;
    forced-color-adjust: auto
}

.nhsuk-pagination__icon--prev {
    margin-right: 15px
}

.nhsuk-pagination__icon--next {
    margin-left: 15px
}

.nhsuk-pagination--block {
    display: block
}

.nhsuk-pagination--block .nhsuk-pagination__item {
    padding: 15px;
    float: none
}

.nhsuk-pagination--block .nhsuk-pagination__next,
.nhsuk-pagination--block .nhsuk-pagination__prev {
    padding-left: 0;
    float: none
}

.nhsuk-pagination--block .nhsuk-pagination__next {
    padding-right: 15px
}

.nhsuk-pagination--block .nhsuk-pagination__next .nhsuk-pagination__icon {
    margin-left: 0
}

.nhsuk-pagination--block .nhsuk-pagination__prev+.nhsuk-pagination__next {
    border-top: 1px solid #b1b4b6
}

.nhsuk-pagination--block .nhsuk-pagination__link,
.nhsuk-pagination--block .nhsuk-pagination__link-title {
    display: inline
}

.nhsuk-pagination--block .nhsuk-pagination__link-title:after {
    content: "";
    display: block
}

.nhsuk-pagination--block .nhsuk-pagination__link {
    text-align: left
}

.nhsuk-pagination--block .nhsuk-pagination__link:focus .nhsuk-pagination__link-label {
    outline: 3px solid rgba(0, 0, 0, 0);
    color: #0b0c0c;
    background-color: #fd0;
    -webkit-box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none
}

.nhsuk-pagination--block .nhsuk-pagination__link:not(:focus) {
    text-decoration: none
}

.nhsuk-pagination--block .nhsuk-pagination__icon {
    margin-right: 10px
}