Start code

{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}    
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl"></h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="#">
              <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
              </svg>
              Go back</a>
          </div>

        <!-- Keep within here -->


        <h3 class="nhsuk-heading-m">Apply for healthy start</h3>

        <p>Click here to apply for healthy start. bhjsfhbjfsjhbvfhbjfvhbhbvfhbjvhjvhjbvhbvhjbvhjbvbhvhbvhbhjb.
          jksfhjbfsbjhbhvfbfvjkbjkvf. kusfbhjksfbhjbhjsvbkhjskj.
        </p>
        
        <div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="register">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Apply for healthy start</span>
            </a>
          </div>


          <h3 class="nhsuk-heading-m">Manage healthy start</h3>

          <p>Click here to manage your healthy start account. hshjjhvjbhfbhvfbhvkbhfvjhbjhbfvhjbfbhsfbhfv. jajhvdghvghvhvvsjbhkjnsjvbhjsfjh.
            jbsfhbjsvsbhvbkhvfkj. hbsjhskusvukufvkufv.
          </p>

<div class="nhsuk-action-link">
            <a class="nhsuk-action-link__link" href="login">
              <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
              </svg>
              <span class="nhsuk-action-link__text">Manage your healthy start account</span>
            </a>
          </div>

        <!-- Keep within here -->

    </div>

</div>
{% endblock %}
