{% extends 'layout.html' %}

<!-- variables -->
{% set loggedIn = false %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}    
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}

        <h1 class="nhsuk-heading-l">Login to manage your Healthy Start card</h1>        

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-width-20">
              Username
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-width-20">
              Password
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
          </div>

          <a href="../dashboard" class="nhsuk-button" type="submit">
            Login
          </a>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                How to access your account
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>When you complete a successful application you will have received your login credentials to the email address you provided.</p>
              <p>These will consist of your username and password</p>
              <p>A password will be provided for you. You will be required to change your password when you first log in.</p>
            </div>
          </details>
                    
        <!-- Keep within here -->

    </div>

</div>
{% endblock %}