{% extends 'layout.html' %}

<!-- variables -->
{% set loggedIn = false %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}    
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
        }) }}

        <h1 class="nhsuk-heading-xl">Login to manage your Healthy Start card</h1>        

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-width-20">
              Username
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
          </div>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="input-width-20">
              Password
            </label>
            <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
          </div>

          <a href="../dashboard" class="nhsuk-button" type="submit">
            Login
          </a>

          <h3 class="nhsuk-heading-m">Don't have an account?</h3>
          
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique accusamus consectetur nesciunt placeat! Obcaecati, necessitatibus?</p>

          <p><a href="register">Register to manage your Healthy Start card</a></p>

        <!-- Keep within here -->

    </div>

</div>
{% endblock %}
