{% extends 'layout.html' %}

{% block pageTitle %}
Do you want to unfreeze your Healthy Start card?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
            <div class="nhsuk-card__content">
              <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                {% if (data['unfreeze'] == 'yes') %}
                    Your card is no longer frozen
                {% else %}
                    Your card is now frozen
                {% endif %}
              </h1>
            </div>
          </div>

        {% if (data['unfreeze'] == 'yes') %}
        
            <p>You can use your card straight away. </p>
            <h2 class="nhsuk-heading-l">How to freeze your card</h2>
            <p>You can <a href="freeze-card">freeze your card</a> at any time on the ‘replace or freeze your card’ page.</p> 

        {% else %}

            <p>You cannot use your card unless you unfreeze it. </p>
            <p class="nhsuk-u-margin-bottom-7">If you cannot find your card within 24 hours, we recommend you order a new card so we can block your current one.</p>
            <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="card-replacement">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v34H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="nhsuk-action-link__text">Order a new card</span>
                </a>
            </div>
            <h2 class="nhsuk-heading-l">How to unfreeze your card</h2>
            <p>You can <a href="freeze-card">unfreeze your card</a> at any time on the ‘replace or freeze your card’ page.</p>

        {% endif %}

        <a class="nhsuk-button nhsuk-u-margin-top-5" href="../dashboard">Continue</a>

    </div>
</div>

{% endblock %}