{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}    
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Your Healthy Start PIN</h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <p>If you have forgotten your Healthy Start card PIN number you can request a new one which will be sent to you via message or post.</p>

        <p><a href="#">Request a new PIN</a></p>

    </div>

</div>
{% endblock %}