{% extends 'layout.html' %}

{% block pageTitle %}
Do you want to unfreeze your Healthy Start card?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <h1 class="nhsuk-heading-xl">Your card is now frozen</h1>

        <p>Your card has now been frozen, this means you will no longer be able to use your card for purchases.</p>
        <p>If your card has been lost or stolen then you must report this right away.</p>
        <p><a href="lost-or-stolen-card">Report your card lost or stolen</a></p>

        <h2 class="nhsuk-heading-l">How to unfreeze your card</h2>
        <p>When you wish to have your card unfrozen, you must return to the self-managing portal and return to the 'Report your card lost or stolen' page and choose to unfreeze your card.</p>

    </div>
</div>

{% endblock %}