{% extends 'layout.html' %}

{% block pageTitle %}
[Child name] has been updated
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

          <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
            <div class="nhsuk-card__content">
              <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                [Child Name] has been updated
              </h1>
            </div>
          </div>

          <h2 class="nhsuk-heading-l">Your childrens details</h2>
          <p>Your recent changes will now be reflected in your claim</p>

    </div>

</div>

{% endblock %}