{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}    
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Lost or stolen card</h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <p>If you have lost your card or this has been stolen, you must report this as soon as possible.</p>

        <p><a href="#">Report your card lost or stolen</a></p>

        <h2 class="nhsuk-heading-l">Freeze or unfreeze your card</h2>

        <p>you can freeze your card here, this will block your Healthy Start card right away and purchases will not be possible.</p>
        <p>When you want your card to be available again you can return to this page to unfreeze your card.</p>

        <p><a href="freeze-card">Freeze or unfreeze your Healthy Start card</a></p>

    </div>

</div>
{% endblock %}