{% extends 'layout.html' %}

{% block pageTitle %}
How would you like your new PIN sent to you?
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        {{ backLink({
            "href": "javascript:history.go(-1)",
            "text": "Go back"
        }) }}

        <form action="v1/request-new-pin" method="post">

            <div class="nhsuk-form-group">

                <fieldset class="nhsuk-fieldset">

                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--xl">
                    <h1 class="nhsuk-fieldset__heading">
                        How would you like your new PIN sent to you?
                    </h1>
                </legend>

                    <div class="nhsuk-radios nhsuk-radios--inline">
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="mobile" name="receive-pin" type="radio" value="mobile">
                            <label class="nhsuk-label nhsuk-radios__label" for="mobile">
                                Mobile
                            </label>
                        </div>
                        <div class="nhsuk-radios__item">
                            <input class="nhsuk-radios__input" id="post" name="receive-pin" type="radio" value="post">
                            <label class="nhsuk-label nhsuk-radios__label" for="post">
                                Post
                            </label>
                        </div>
                    </div>
                </fieldset>

            </div>

            <button class="nhsuk-button" type="submit">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}