{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start)
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Your Transactions</h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <table role="table" class="nhsuk-table-responsive">
            <caption class="nhsuk-table__caption">Transaction history for the past 4 weeks</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                    <th role="columnheader" class="" scope="col">
                        Date
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Card Type
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Merchant
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Type
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Status
                    </th>
                    <th role="columnheader" class="" scope="col">
                        Billing Amount
                    </th>
                </tr>
            </thead>
            <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Date </span> 29/05/2022
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Card Type </span>Primary
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Merchant </span>Asda
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Type </span>Purchase
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Status </span>Settled
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Billing Amount </span>£06.50 DB
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Date </span> 29/05/2022
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Card Type </span>Primary
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Merchant </span>Asda
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Type </span>Purchase
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Status </span>Settled
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Billing Amount </span>£06.50 DB
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Date </span> 29/05/2022
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Card Type </span>Primary
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Merchant </span>Credit the card balance
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Type </span>Initial Top-Up
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Status </span>Settled
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Billing Amount </span>£17.00 CR
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Date </span> 29/05/2022
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Card Type </span>Primary
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Merchant </span>Asda
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Type </span>Purchase
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Status </span>Settled
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Billing Amount </span>£06.50 DB
                    </td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Date </span> 29/05/2022
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Card Type </span>Primary
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Merchant </span>Asda
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Type </span>Purchase
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Status </span>Settled
                    </td>
                    <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading">Billing Amount </span>£06.50 DB
                    </td>
                </tr>
            </tbody>
        </table>

        <nav class="nhsuk-pagination" aria-label="Pagination navigation">

            <ul class="nhsuk-pagination__list">
              <li class="nhsuk-pagination__item  nhsuk-pagination__item--prev">
                <a class="nhsuk-pagination__link" href="">Previous<span class="govuk-visually-hidden"> page</span></a>
              </li>
          
              <li class="nhsuk-pagination__item"><a class="nhsuk-pagination__link" href="/page=1" aria-label="Page 1 of 30">1</a></li>
          
              <li class="nhsuk-pagination__item nhsuk-pagination__item--active" aria-label="Page 2 of 30" aria-current="page">2</li>
          
              <li class="nhsuk-pagination__item"><a class="nhsuk-pagination__link" href="/page=3" aria-label="Page 3 of 30">3</a></li>
          
              <li class="nhsuk-pagination__item nhsuk-pagination__item--dots">…</li>
          
              <li class="nhsuk-pagination__item"><a class="nhsuk-pagination__link" href="/page=5" aria-label="Page 5 of 30">5</a></li>
          
              <li class="nhsuk-pagination__item  nhsuk-pagination__item--next">
                <a class="nhsuk-pagination__link" href="">Next<span class="govuk-visually-hidden"> page</span></a>
              </li>
            </ul>
            <p class="nhsuk-pagination__results">Showing <b>5</b> to <b>10</b> of <b>15</b> pages</p>
          </nav>
          
          


    </div>

</div>
{% endblock %}