{% extends 'layout.html' %}

<!-- variables -->
{% set loggedIn = false %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}    
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        
        <form action="authenticate-code" method="POST">
            <div class="nhsuk-form-group">
                <h1 class="nhsuk-label-wrapper">
                  <label class="nhsuk-label nhsuk-label--l" for="auth-details">
                    Enter your {% if data['auth'] === 'Mobile' %}mobile number {% else %} email{%  endif%}
                  </label>
                </h1>
                <p>You will receive your one time code within one minute.</p>
                <input class="nhsuk-input nhsuk-input--width-20" id="auth-details" name="auth-details" type="text">
              </div>
            <button class="nhsuk-button" type="submit">Continue</button>
        </form>


    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">



    </div>

</div>
{% endblock %}