{% extends 'layout.html' %}

<!-- variables -->
{% set loggedIn = false %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start)
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">

		<h1 class="nhsuk-heading-xl">Manage your Healthy Start card</h1>

	</div>
</div>

<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">


		<div class="nhsuk-card-group">
			<div class="nhsuk-form-group">
				<ul class="nhsuk-grid-row nhsuk-card-group">
					<li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

						<div class="nhsuk-card nhsuk-card--clickable">
							<div class="nhsuk-card__content">
								<h2 class="nhsuk-card__heading nhsuk-heading-m">
									<a class="nhsuk-card__link" href="balance-page">Balance</a>
								</h2>
								<p class="nhsuk-card__description">A quick guide for people who have care and support
									needs and their
									carers</p>
							</div>
						</div>

					</li>
					<li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

						<div class="nhsuk-card nhsuk-card--clickable">
							<div class="nhsuk-card__content">
								<h2 class="nhsuk-card__heading nhsuk-heading-m">
									<a class="nhsuk-card__link" href="pin-page">PIN</a>
								</h2>
								<p class="nhsuk-card__description">Includes helplines, needs assessments, advocacy and
									reporting abuse
								</p>
							</div>
						</div>

					</li>
					<li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

						<div class="nhsuk-card nhsuk-card--clickable">
							<div class="nhsuk-card__content">
								<h2 class="nhsuk-card__heading nhsuk-heading-m">
									<a class="nhsuk-card__link" href="freeze-page">Freeze Card</a>
								</h2>
								<p class="nhsuk-card__description">How to pay for care and support, and where you can
									get help with
									costs</p>
							</div>
						</div>

					</li>
					<li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

						<div class="nhsuk-card nhsuk-card--clickable">
							<div class="nhsuk-card__content">
								<h2 class="nhsuk-card__heading nhsuk-heading-m">
									<a class="nhsuk-card__link" href="unfreeze-page">Unfreeze Card</a>
								</h2>
								<p class="nhsuk-card__description">Includes hospital discharge and care and support
									afterwards</p>
							</div>
						</div>

					<li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

						<div class="nhsuk-card nhsuk-card--clickable">
							<div class="nhsuk-card__content">
								<h2 class="nhsuk-card__heading nhsuk-heading-m">
									<a class="nhsuk-card__link" href="replace-card-page">Replace Cards</a>
								</h2>
								<p class="nhsuk-card__description">How to pay for care and support, and where you can
									get help with
									costs</p>
							</div>
						</div>

					</li>
					<li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

						<div class="nhsuk-card nhsuk-card--clickable">
							<div class="nhsuk-card__content">
								<h2 class="nhsuk-card__heading nhsuk-heading-m">
									<a class="nhsuk-card__link" href="transactions-page">Transactions</a>
								</h2>
								<p class="nhsuk-card__description">Includes hospital discharge and care and support
									afterwards</p>
							</div>
						</div>

					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="nhsuk-grid-column-one-third">
		<h2 class="nhsuk-heading-m">Useful links</h2>
		<ul class="nhsuk-list">
			<li>
				<a rel="noreferrer noopener" href="https://dev.healthystart.nhsbsa.net/getting-vitamins/"
					target="_blank">Collecting vitamins (opens in a new tab)</a>
			</li>
			<li>
				<a rel="noreferrer noopener" href="https://www.healthystart.nhs.uk/what-youll-get-and-how-to-shop/"
					target="_blank">How we calculate your payments (opens in a new tab)</a>
			</li>
		</ul>
	</div>
</div>
{% endblock %}