Start code

{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start)
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
	<div class="nhsuk-grid-column-two-thirds">

		<div class="nhsuk-form-group">
			<h1 class="nhsuk-label-wrapper">
				<label class="nhsuk-label nhsuk-label--l" for="auth-code">
					You have been logged out.
				</label>
                <h4>Start again?</h4>
			</h1>
			<a class="nhsuk-button" href="authenticate-type">Yes</a>
			<a class="nhsuk-button" href="">No</a>

		</div>
	</div>
    <div class="nhsuk-grid-row">
		<div class="nhsuk-grid-column-two-thirds">



		</div>

	</div>
	{% endblock %}