Start code

{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}    
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
      
      <form action="../perform-another-action" method="POST">
          <div class="nhsuk-form-group">
              <h1 class="nhsuk-label-wrapper">
                <label class="nhsuk-label nhsuk-label--l" for="auth-code">
                  Your recent transactions have been sent to you.
                </label>
              </h1>
              <p>It will be with you in 5 working days.</p>
              
              <a href="">
                <button class="nhsuk-button" type="submit">Continue</button>
              </a>

      </form>


  </div>
</div>
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">



  </div>

</div>
{% endblock %}

