Start code

{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start)
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        
        <h1 class="nhsuk-heading-xl">Manage your Healthy Start card</h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">


        <ul class="nhsuk-grid-row nhsuk-card-group">
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-heading-m nhsuk-secondary-text-color">Available balance</h2>
                        <p class="nhsuk-card__description nhsuk-u-font-size-48 nhsuk-u-font-weight-bold">£34.71</p>
                    </div>
                </div>

            </li>
            <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-heading-m nhsuk-secondary-text-color">Next payment</h2>
                        <p class="nhsuk-card__description nhsuk-u-font-size-32 nhsuk-u-font-weight-bold">£8.50</p>
                        <p class="nhsuk-card__description nhsuk-u-font-size-19 nhsuk-u-font-weight-bold">Tuesday 15 November</p>
                    </div>
                </div>

            </li> 
            <!-- <li class="nhsuk-grid-column-full nhsuk-card-group__item">

                <div class="nhsuk-card">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-heading-m">Next payment</h2>
                        <p class="nhsuk-card__description">£8.50 on Friday 15 July</p>
                        <hr>
                        <p><a href="https://www.healthystart.nhs.uk/what-youll-get-and-how-to-shop/" target="_blank">How we calculate your payments (opens in a new tab)</a>. If your balance or next payment looks wrong, call us on 0300 330 7010 (local charges will apply).</p>
                    </div>
                </div>

            </li> -->
            <li class="nhsuk-grid-column-full nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            <a class="nhsuk-card__link" href="hs-card/your-healthy-start-card">Your Healthy Start card</a>
                        </h2>
                        <p class="nhsuk-card__description">Manage your card, pregnancy, and children’s details</p>
                    </div>
                </div>

            </li>
            <!-- <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">

                <div class="nhsuk-card nhsuk-card--clickable">
                    <div class="nhsuk-card__content">
                        <h2 class="nhsuk-card__heading nhsuk-heading-m">
                            <a class="nhsuk-card__link" href="personal-details/cya-personal-details">Your personal details</a>
                        </h2>
                        <p class="nhsuk-card__description">View and edit your personal details</p>
                    </div>
                </div>

            </li> -->
        </ul>

    </div>
    <div class="nhsuk-grid-column-one-third">
        <h2 class="nhsuk-heading-m">Useful links</h2>
        <ul class="nhsuk-list">
            <li>
                <a rel="noreferrer noopener" href="https://dev.healthystart.nhsbsa.net/getting-vitamins/" target="_blank">Collecting vitamins (opens in a new tab)</a>
            </li>
            <li>
                <a rel="noreferrer noopener" href="https://www.healthystart.nhs.uk/what-youll-get-and-how-to-shop/" target="_blank">How we calculate your payments (opens in a new tab)</a>
            </li>
        </ul>
    </div>

</div>
{% endblock %}