{% extends 'layout.html' %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}    
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Check your answers</h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        
        <p>We will send your PIN to this {% if (data['receive-pin'] == 'mobile') %}number{% else %}address{% endif %}. Make sure it is correct.</p>
        

        <h2 class="nhsuk-heading-m">PIN to be sent via {% if (data['receive-pin']) %} {{data['receive-pin']}} {% else %} mobile {% endif %}</h2>

        <dl class="nhsuk-summary-list">

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                {% if (data['receive-pin']) %}
                  {{data['receive-pin'] | capitalize}}
                {% else %}
                  Mobile
                {% endif %}
              </dt>
              <dd class="nhsuk-summary-list__value">
                {% if (data['receive-pin']) == 'mobile' %}
                  {{data['mobilephonenumber']}}
                {% elseif (data['receive-pin']) == 'post' %}
                  {{data['address-line-1']}}<br>
                  {% if (data ['address-line-2']) %}
                    {{data['address-line-2']}}<br>
                  {% endif %}
                  {{data['address-town']}}<br>
                  {{data['address-county']}}<br>
                  {{data['address-postcode']}}<br>
                {% else %}
                  07777777777
                {% endif %}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="receive-new-pin">
                  Change<span class="nhsuk-u-visually-hidden"> where to receive your PIN</span>
                </a>
              </dd>
            </div>

        </dl>

        <a class="nhsuk-button" href="new-pin-sent">Continue</a>
        <p><a href="request-new-pin">Cancel</a></p>

    </div>

</div>
{% endblock %}