Start code

{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}  

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Go back"
    }) }}

        <h1 class="nhsuk-fieldset__legend--xl">What is your address?</h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <!-- Keep within here -->
        <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="example-with-hint-text">
            
            </label>
            <div class="nhsuk-hint" id="example-with-hint-text-hint">
                If you claim any benefits you must use the same address registered with the benefits agency (DWP or HMRC).
            </div>
            
          </div>

          <form action="/v1/address" method="POST">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  
                </h1>
              </legend>
            
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="address-line-1">
                  Building and street <span class="nhsuk-u-visually-hidden">line 1 of 2</span>
                </label>
                <input class="nhsuk-input" id="address-line-1" name="address-line-1" type="text">
              </div>
            
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="address-line-2">
                  <span class="nhsuk-u-visually-hidden">Building and street line 2 of 2</span>
                </label>
                <input class="nhsuk-input" id="address-line-2" name="address-line-2" type="text">
              </div>
            
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="address-town">
                  Town or city
                </label>
                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-town" name="address-town" type="text">
              </div>
            
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="address-county">
                  County
                </label>
                <input class="nhsuk-input nhsuk-u-width-two-thirds" id="address-county" name="address-county" type="text">
              </div>
            
              <div class="nhsuk-form-group">
                <label class="nhsuk-label" for="address-postcode">
                  Postcode
                </label>
                <input class="nhsuk-input nhsuk-input--width-10" id="address-postcode" name="address-postcode" type="text">
              </div>
            
            </fieldset>

            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  If you do not know which address to use
                </span>
              </summary>
              <div class="nhsuk-details__text">
                <p><h3>If you have more than one address</h3>

                  You should use the address that your GP or dentist holds for you. For example, if you're a student living away from home, this could be your home or term time address.
                  </p>
                  <p>
                  <h3>If you have more than one address</h3>
                  
                  If you're homeless and living in temporary accommodation (for example, a long term hostel), you should use the address that your GP or dentist holds for you.</p>
                  </p>
              </div>
            </details>

            <button class="nhsuk-button" type="submit">Continue</button>

          </form>

        <!-- Keep within here -->

    </div>

</div>
{% endblock %}
