{% extends 'layout.html' %}

{% block pageTitle %}
Personal details have been updated
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <div class="nhsuk-card" style="background: #005EB8; margin-top: 0;">
            <div class="nhsuk-card__content">
                <h1 class="nhsuk-card__heading" style="text-align: center; color: white;">
                Your details have been updated
                </h1>
            </div>
        </div>

        <h2 class="nhsuk-heading-l">What happens next?</h2>
        <p>You must now provide evidence of your new details. This must be a copy of one of the following:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>Birth certificate (full or short version)</li>
            <li>Passport</li>
            <li>Driving license</li>
            <li>UK visa</li>
        </ul>

        <div class="nhsuk-inset-text">
            <span class="nhsuk-u-visually-hidden">Information: </span>
            <p>Send us your evidence by email or post as soon as possible. We cannot update your details if you do not provide evidence.</p>
            <p>Once we receive your evidence, your details will be updated within 3 working days.</p>
            <h4 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Email</h4>
            <ul class="nhsuk-list">
              <li>healthy.start@nhsbsa.nhs.uk</li>
            </ul>
            <h4 class="nhsuk-heading-s nhsuk-u-margin-bottom-2">Post</h4>
            <ul class="nhsuk-list">
                <li>Healthy Star<br>
                    Bridge House<br>
                    152 Pilgrim Street<br>
                    Newcastle upon Tyne<br>
                    NE1 6SN</li>
            </ul>
          </div>


        

          <a class="nhsuk-button nhsuk-u-margin-top-4" href="../dashboard">Go to dashboard</a>

    </div>

</div>

{% endblock %}