Start code

{% extends 'layout.html' %}

{% block pageTitle %}
Get help to buy food and milk (Healthy Start) 
{% endblock %}

{% block content %}  

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <h1 class="nhsuk-heading-xl">Your personal details</h1>

    </div>
</div>
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <!-- Keep within here -->
        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Name
            </dt>
            <dd class="nhsuk-summary-list__value">
              {% if (data['first-name']) and (data['last-name']) %}
                {{ data['first-name'] }} {{ data['last-name'] }}
              {% else %}
                Sarah Smith
              {% endif %}
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="full-name">
                Change<span class="nhsuk-u-visually-hidden"> name</span>
              </a>
        
            </dd>
        
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="nhsuk-summary-list__value">
              {% if (data['dob-day']) and (data['dob-month']) and (data['dob-year']) %}
                {{ data['dob-day'] }} / {{ data['dob-month'] }} / {{ data['dob-year'] }}
              {% else %}
                01 / 01 / 1992
              {% endif %}
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="date-of-birth">
                Change<span class="nhsuk-u-visually-hidden"> date of birth</span>
              </a>
        
            </dd>
        
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              Address
            </dt>
            <dd class="nhsuk-summary-list__value">
              {% if (data['address-line-1']) %}
                {{data['address-line-1']}}<br>
                {% if (data['address-line-2']) %}
                  {{data['address-line-2']}}<br>
                {% endif %}
                {{data['address-town']}}<br>
                {{data['address-county']}}<br>
                {{data['address-postcode']}}<br>
              {% else %}
              13 Building Street Road<br>Leeds<br> N34 1HS
              {% endif %}
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="address">
                Change<span class="nhsuk-u-visually-hidden"> address</span>
              </a>
        
            </dd>
        
          </div>
        
          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              National insurance number
            </dt>
            <dd class="nhsuk-summary-list__value">
              {% if (data['nino']) %}
                {{ data['nino'] }}
              {% else %}
                <p>AB 12 34 56 C</p>
              {% endif %}
            </dd>
        
            <dd class="nhsuk-summary-list__actions">
        
              <a href="national-insurance-number">
                Change<span class="nhsuk-u-visually-hidden"> national insurance number</span>
              </a>
        
            </dd>
        
          </div>
        
        </dl>

        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              These details will be checked every fours weeks
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>To make sure you are still eligiable, your personal details will be checked every four weeks to confirm your eligibilty.</p>
        
          </div>
        </details>

        <a class="nhsuk-button nhsuk-u-margin-top-3" href="../dashboard">Go to dashboard</a>
        <!-- Keep within here -->

    </div>

</div>
{% endblock %}
